// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body
  background-color: #f5f5f5

  header
    height: 70px
    border-bottom: 2px solid #eee
    position: fixed
    z-index: 10
    background: #fff
    width: 100%
    top: 0
    .header_inner
      padding-top: 20px
      .header_logo
        text-align: center    
  .banner_top
    text-align: center
    margin-top: 70px
    background: black
    border-bottom: 1px solid #eee
    height: 355px
    img
      witdh: 675px
      height: 355px
      // margin-left: 100px
  #container
    background-color: #f5f5f5
    padding-top: 20px

    margin-left: auto
    margin-right: auto
    padding-left: 20px
    padding-right: 20px
    .box
      background: #fff
      margin-bottom: 10px
      padding: 5px

      h2
        padding: 10px
        font-size: 20px
        font-weight: 700
        color: #000
        display: block
      h4
        padding-left: 10px
        color: #959595
    .line
      border-bottom: 1px dotted #e7e7e7
      margin: 5px 0px

    #left_bar
      // background-color: gray
      .category_menu
        display: block
        padding: 10px 0 10px 8px
        font-size: 13px
        .category_title
          // margin: 18px 9px 14px

        ul
          list-style-type: none
        .category_menu_item:hover
          background: #f5f5f5
        .category_menu_item
          .iconCategory
            font-size: 13px
            background: image-url('/icon-menu.png')
            background-size: 110px 110px
            width: 20px
            height: 20px
            background-repeat: no-repeat
            display: inline-block
            margin-right: 5px
            vertical-align: middle
          .is_current
          a
            display: block
            padding: 10px 0 10px 8px
            color: #666

          a:link
            text-decoration: none


          .icon-home
            background-position: -60px -60px
          .icon-spa
            background-position: -30px -60px
          .icon-salon
            background-position: -60px -30px
          .icon-nail
            background-position: -90px 0
          .icon-love
            background-position: -30px -90px                                    


    #main
      .title
        color: #553716
        margin-bottom: 1em
        padding: 1.1em 0 0.9em 50px
        font-size: 140%
        border-top: 3px solid #EBB4B3
        border-bottom: 3px solid #EBB4B3
        background: #fff
      .main_content
        .box_place
          margin: 10px 0 10px 0
          .place_content
            background: #fff
            .place_img
              width: 100%
              height: 200px
              background-repeat: no-repeat
              background-size: cover
              background-position: center
              margin-bottom: .5em
            .place_text
              padding: 10px
      .place_info_img
        padding-left: 0
        padding-right: 0
        .place_img
          background-repeat: no-repeat
          background-size: cover
          background-position: center
          background-image: url(/banner675x355/2018817194851593.jpg)
          height: 300px
        .place_img_slide
          // padding: 5px
          .slide_item
            padding: 5px 0
            margin-left: 5px
            width: 95px
            img
              background-size: cover
              width: 95px
              height: 50px

      .place_info
        background: white
        padding: 10px 5px 10px 0

        h2
          padding-bottom: unset
        .info_title
          margin-left: 10px
        .info_content
          margin: 10px
          p
            font-size: 13px
          span
            font-size: 14px
            padding-right: 10px
      .place_item
        .item_img
          width: 100%
          height: 200px
          background-repeat: no-repeat
          background-size: cover
          background-position: center
          margin-bottom: .5em


    #right_bar
      .carousel-item
      .carousel-caption
        background-color: #333
        position: absolute
        color: white
        opacity: 0.5
