// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1
  background-color: red 
#container
  background-color: #000
  #left_bar
  #main

  #right_bar

  .banner_top
    height: 355px
    img
      witdh: 675px
      height: 355px
      // margin-left: 100px

    .carousel-item
    .carousel-caption
      background-color: #333
      position: absolute
      color: white
      opacity: 0.5